<div class="row sign-up-bg">
  <div class="row">
    <h1 class="uppercase">Tell us a little more about you.</h1>
    <% form_for @user do |f| %>
    <div class="form-group">
      <%#= check_box :user %>
    <% end %>
    </div>
  </div>
</div>
