%div.row.logo-header
  %div.col-sm-3.col-sm-offset-1
    = image_tag("welcome-logo.png", class: "img-responsive", alt: "Welcome to Backbone PLM")

%div.row.bg-pattern
  %div.col-sm-12.margin-responsive
    %div.row
      %div.col-sm-6.col-centered.register-form-signup
        %h1 SIGN UP
        %h2 IT'S EASY. IT REALLY IS.

    %div.row
      %div.col-sm-6.bg-blue.col-centered
