<div class="container">
  
  <h1 class="text-center">Welcome to Backbone PLM</h1>
  <br>

  <div class="row">
    <div class="col-md-6 pull-left">
      <div class="text-right">Video will go here</div>
    </div>

    <div class="col-md-6 button-group pull-right">
      <%= link_to "Sign up!", new_user_path, class: "btn btn-default" %>
      <%= link_to "Login", new_session_path, class: "btn btn-default" %>
    </div>
  </div>

</div>
