<div class="container">
  <div class="row">
    <div class="col-md-10">
    </div>
      <div class="col-md-2"><%= link_to "Login", new_session_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="sign-up">
      <div class="row lg-space">
        <div class="col-md-6 col-md-offset-3">
          <img src="assets/welcome-logo.png" class="img-responsive" alt="Welcome to Backbone PLM">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 vertical">
          <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="100%" height="264" poster="video-js/backbone.png" data-setup="{}">
            <source src="video-js/julie-backboneplm.mp4" type='video/mp4' />
            <source src="video-js/julie-backboneplm.webm" type='video/webm' />
            <source src="video-js/julie-backboneplm.ogv" type='video/ogg' />
            <track kind="captions" src="video-js/demo.captions.vtt" srclang="en" label="English"></track>
            <!-- Tracks need an ending tag thanks to IE9 -->
          </video>
        </div>
        
        <div class="col-lg-6">
          <%= render "users/new" %>
        </div>
      </div>
