<div class="container-full">
  
  <div class="row logo-header">
    <div class="col-sm-3 col-sm-offset-1">
      <img src="assets/welcome-logo.png" class="img-responsive" alt="Welcome to Backbone PLM">
    </div>
  </div>

  <div class="row sign-up-bg">
    <div class="row">
      <div class="col-sm-6 col-centered register-form-signup">
        <h1>SIGN UP</h1>
        <h2>IT'S EASY. TRUST US. IT REALLY IS.</h2>
      </div>
    </div>

    <%= render "users/new" %>
  </div>

</div>
