/* Fonts */
/* included only when we don't want to use fonts from google server */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Nexa Bold';
  font-style: normal;
  font-weight: normal;
  src: url('nexabold.otf') format('otf'),
       url('nexabold.woff') format('woff'), 
       url('nexabold.ttf')  format('truetype'),
       url('nexabold.svg') format('svg'),
       url('nexabold.eot') format('eot');
}
@font-face {
  font-family: 'Nexa Light';
  font-style: normal;
  font-weight: normal;
  src: url('nexalight.otf') format('otf'),
       url('nexalight.woff') format('woff'), 
       url('nexalight.ttf')  format('truetype'),
       url('nexalight.svg') format('svg'),
       url('nexabold.eot') format('eot');
}

/* General */

a { color:#fff; }
a:hover {color:#fff;}
body {
  padding-top: 20px;
  font-family: 'Open Sans';
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

/* Home Page */

.logo-header {
  padding-bottom: 15px;
}

.register-form-signup h1 {
  color: #1387c3;
  font-family: "Nexa Bold";
  letter-spacing: 2px;
  font-size: 46px;
}

.register-form-signup h2 {
  color: #5ca8d4;
  font-family: "Nexa Light";
  font-size: 13px;
  margin-top: 0;
  line-height: 0;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.sign-up {
  padding: 10px 8px;
  background-color: #64a9d2;
}

.sign-up-bg {
  background-image:url('/assets/background.png');
  background-repeat: repeat;
}

/* Form Styles */

.form-control {
  font-family: "Nexa Light";
  font-size: 16px;
  padding: 4px;
}

.form-group {
  margin-bottom: 8px;
}

/*.form-div {

}*/

.terms {
  color: #3E7095;
  font-size: 11px;
  letter-spacing: 1px;
}

.sign-up-btn {
  background-color: #ffffff;
  color: #1387c3;
  font-family: "Nexa Bold";
  font-size: 16px;
  width: 33%;
}

.vertical {
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #DDDDDD;
}

/* Navigation */

.navbar-blue {
background-color: #0278c8;
border-color: #080808;
}
.navbar-blue .navbar-toggle .icon-bar {
background-color: #ffffff;
}
.navbar-blue .navbar-toggle {
border-color: #006FB9;
}
.nav>li>a:hover, .nav>li>a:focus {
color: white;
	background: -webkit-linear-gradient(#71cfed,#3a9cde);
    background: -moz-linear-gradient(#71cfed,#3a9cde);  
    background: -o-linear-gradient(#71cfed,#3a9cde);  
    background: linear-gradient(#71cfed,#3a9cde);  
    background-color: #71cfed;  
    -webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;  
    -o-transition: background 1s ease-out;  
    transition: background 1s ease-out;  
}
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

/* Footer */

.copyright {
  color: gray;
  font-size: 10px;
}
