/* Fonts */
/* included only when we don't want to use fonts from google server */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Light'), local('OpenSans-Light'), font-url('DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('OpenSans'), font-url('cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Synthview Bold';
  font-style: normal;
  font-weight: normal;
  src: font-url('synthbold.otf') format('otf'),
       font-url('synthbold.woff') format('woff'),
       font-url('synthbold.ttf') format('truetype'),
       font-url('synthbold.svg') format('svg'),
       font-url('synthbold.eot') format('eot');
}
@font-face {
  font-family: 'Nexa Bold';
  font-style: normal;
  font-weight: normal;
  src: font-url('nexabold.otf') format('otf'),
       font-url('nexabold.woff') format('woff'),
       font-url('nexabold.ttf') format('truetype'),
       font-url('nexabold.svg') format('svg'),
       font-url('nexabold.eot') format('eot');
}
@font-face {
  font-family: 'Nexa Light';
  font-style: normal;
  font-weight: normal;
  src: font-url('nexalight.otf') format('otf'),
       font-url('nexalight.woff') format('woff'),
       font-url('nexalight.ttf') format('truetype'),
       font-url('nexalight.svg') format('svg'),
       font-url('nexalight.eot') format('eot');
}
